<template>
  <v-container>
      <v-row >
        <v-col v-for="item in pages" :key="item.url" 
        cols="12"
        md="12"
        >
          <v-card  elevation="18">
            <v-img
              height="200px"
              :src="item.image"
              gradient="to top right, rgba(0, 0, 0,.3), rgba(0, 0, 0,.5)"            
            >
              <v-btn :to="item.url" text block plain color='white' height=100% >
              {{ item.name }} 
              </v-btn>
            </v-img>
          </v-card>
        </v-col>
      </v-row>
  </v-container>  
</template>

<script>
  import corePages from '../pages'
  export default {
    name: 'Home',
    data: () => ({
      namePage: null,
      image: 'bar.jpg',
      helpers: {
        description: 'Это домашняя страничка. На ней удобно расположились палетки с задачами, которые мы решаем.',
        example: null
      },
      pages: corePages.slice(1)
    }),
    created: function() {
      // debugger ; // eslint-disable-line no-debugger
      this.$emit('change-title', this.namePage)
      this.$emit('change-bar', this.image)
      this.$emit('change-help', this.helpers)
    }
  }
</script>
