<template>
  <v-container>
    <v-alert type="success"
      border="top"
      dense
      dismissible
      text
      elevation="5"
      v-model="serverSuccess" >
      Данные успешно обработаны
    </v-alert>
    <v-alert type="error"
      border="top"
      dense
      dismissible
      text
      elevation="5"
      v-model="serverIsError">
      Ошибка на сервере: {{serverErrorMessage}}
    </v-alert>
    <v-container fluid>
      <v-select
          v-model=selectModel
          :items=models
          item-text="name"
          label="Выберете модель для Саммаризации"
        ></v-select>
      <v-row>
        <v-col
        cols="12"
        md="12"
        >
          <v-textarea
            outlined
            label="Введите текст для получения саммари"
            v-model="inputText"
          >
          </v-textarea>
        </v-col>
        <v-col
        cols="12"
        md="12"
        >
          <v-btn 
          elevation="2"
          :loading=isLoading
          large
          block
          @click=sendToServer
          :disabled=isDisabledButton
          > 
            Получить саммари
          </v-btn>
        </v-col>
        <v-col
        cols="12"
        md="12"
        >
        <v-textarea
          outlined
          readonly
          label="Саммари"
          :value="outputText"
          v-if="outputText"
        >
        </v-textarea>
        </v-col>
      </v-row>
    </v-container>
    
  </v-container>

  
</template>

<script>
  import axios from 'axios'
  //import Vue from 'vue'
  export default {
    name: 'Summarizator',
    
    data: () => ({
      namePage: 'Саммаризация',
      image: 'summarization.jpg',
      requesPredictionUrl: '/api/summarization-server/prediction',
      getModelsUrl: '/api/summarization-server/get-models',
      getHelpUrl: '/api/summarization-server/help',
      inputText: '',
      outputText: '',
      serverErrorMessage: '',
      serverIsError: false,
      serverSuccess: false,
      isLoading: false,
      selectModel:'',
      models: [], 
      helpers: ''
    }),
    methods: {
      sendToServer: function () {
        let me = this;
        me.isLoading = true
        axios
            .post(me.requesPredictionUrl, {
              model:me.selectModel,
              text: me.inputText
            } )
            .then((response) => {
              me.serverSuccess = true
              me.outputText = response.data.summary
      
              me.serverIsError = false
            })
            .catch((answer)=>{
              try {
                me.serverIsError = true
                me.serverErrorMessage = [
                  answer.response.status,
                  answer.response.statusText,
                  JSON.stringify(answer.response.data.detail)
                ].join(' -> ')
              } catch (ex) {
                me.serverErrorMessage = answer
              }
            })
            .finally(()=>{
                me.isLoading = false
              })
      }
    },
    computed: {
      isDisabledButton: function () {
        let ans = false
        if (this.selectModel === '' || this.inputText === ''){
          ans = true
        }
        return ans
      }
    },
    created: function() {
      let vc = this
      axios
        .get(vc.getModelsUrl)
        .then((response) => {
          let input = response.data.models
          vc.models =  input.slice(0, input.length)
        })
        .catch(()=>{
          console.warn('Loading model was failed.')
        });

      axios
        .get(vc.getHelpUrl)
        .then((response) => {
          let input = response.data.help
          vc.helpers =  input
          this.$emit('change-help', vc.helpers)
        })
        .catch(()=>{
          console.warn('Loading help was failed.')
        });
      this.$emit('change-title', this.namePage)
      this.$emit('change-bar', this.image)
  
    }
  }
</script>
