<template>
  <v-app>
    <v-navigation-drawer app v-model="drawer"
      absolute
      bottom
      temporary>
     <v-list
        app
      >
        <template v-for="item in pages" >
          <v-list-item-group
            :key="item.name"
            color="primary"
          >
            <v-list-item  :to="item.url">
              <v-list-item-avatar>
                <v-img :src="item.image"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="title" v-text="item.name"></v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-item-group>
        </template>
     </v-list>
    </v-navigation-drawer>

    <v-app-bar
      dark
      shrink-on-scroll
      fade-img-on-scroll
      :src="sourceBar"
      app
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(0 , 0, 0,.3), rgba(0, 0, 0,.5)"
        ></v-img>
      </template>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-btn icon to="/">
        <v-icon>mdi-home</v-icon>
      </v-btn>
      <v-dialog
        v-model="dialog"
        width="500"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-help-circle</v-icon>
          </v-btn>
        </template>
        <v-card v-model="helpInfo">
          <v-card-title class="headline grey lighten-2">
            Справка
          </v-card-title>
          <v-card>
            <v-card-title>
              Описание
            </v-card-title>
            <v-card-text>
              {{ helpInfo.description }}
            </v-card-text>
          </v-card>
          <v-card v-if="helpInfo.example !== null">
            <v-card-title>
              Примеры входных текстов
            </v-card-title>
            <v-simple-table height="300px">
              <template v-slot:default>
                <tbody>
                  <tr
                    v-for="(item, i) in helpInfo.example"
                    :key="i"
                  >
                    <td> <h3> Пример {{ i + 1 }}. <v-btn v-clipboard="() => item" title="Скопировать текст" icon> <v-icon >mdi-content-copy</v-icon> </v-btn> </h3>
                      {{ item }}
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
           
              <!-- <v-textarea solo v-for="(item, i) in helpInfo.example"
                :key="i" class="mx-2" :value="item" background-color="white" readonly="true" color="black">
              </v-textarea> -->
                         
                
             
            <!-- <v-card-text>
              {{ helpInfo.example }}
            </v-card-text> -->
          </v-card>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="dialog = false"
            >
              Закрыть
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- <router-link
        to="/docs"
        v-slot="{ href, route, navigate, isActive,}"
      >
        <NavLink :active="isActive" :href="href" @click="navigate">
          {{ route.fullPath }}
        </NavLink>
      </router-link> -->
      <v-toolbar-title v-model="title">  {{ title }} </v-toolbar-title>
    </v-app-bar>
    <v-main>
      <router-view 
        v-on:change-title="setTitle" 
        v-on:change-bar="setBar"
        v-on:change-help="setHelp"
      >
      </router-view>
    </v-main>
     <v-footer
      app
      elevation="14"
      > @Zakharova/Shitkov
     </v-footer>
  </v-app>
</template>

<script>
import corePages from './pages'
export default {
  name: 'App',


  data: () => ({
      drawer : false,
      pages: corePages,
      coreTitle: 'Секвора. Обработка обращений',
      title: '',
      helpInfo: '',
      sourceBar: 'bar.jpg',
      dialog: false
  }),
  methods:{
    setTitle: function(value){
      if (value !== null){
        this.title =  this.coreTitle  + ': ' + value
      }else{
        this.title =  this.coreTitle
      }
    },
    setBar: function(value){
      this.sourceBar = value
    },
    setHelp: function(value){
      this.helpInfo = value
    },
    getHelp: function(){
      alert(this.helpInfo)
    },
    copyContent(){
      debugger ; // eslint-disable-line no-debugger
      //this.$clipboard('tralala');
      return "Sveta" ;
    }
  },
   created: function() {
     this.title = this.coreTitle
   }
};
</script>
